# ignore IDE files
.idea/

# ignore python specific files
**/__pycache__/
*.pyc

# ignore venvs
**/*venv*/

# ignore models
**.keras

# project configuration
config.yaml

# mac os files
.DS_Store

#zone identifier
*Zone.Identifier
